html, body {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #f2f2f2;
    }

    h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
    .title {
    font-family: Roboto, Arial, sans-serif;
    font-size: 28px;
    padding: 10px;
    }

.subtitle{
    font-size: 18px;
    padding: 10px;
}
 
    .main-block {
    max-width: 380px; 
    min-height: 460px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #f7f7f7; 
    }
    form {
    margin: 0 80px;
    }
   .box{
    max-width: 330px; 
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
   }
    label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
    }
 
    input[type=text] {
    width: 100%;
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    }
  
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }
    button:hover {
       background-color: deepskyblue;
    }

    .btn-delete {
        border: 1px solid lighten(gray, 24%);
        border-radius: 24px;
        width: 40%;
        background-color: #D8000C;
        font-size: 14px;
        color: #fff;
        margin-right: 0;
        margin-left:auto;
        display:block;
    }

img {
    position: relative;
    top: 5px;
    left: 5px;
}

.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png')
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}