<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Weather</title>
</head>
<body>
    <div class="main-block">
        <h1>Current Weather</h1>
        <form action="/" method="post">
    
          <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
          <input type="text" name="city_name"  placeholder="City"/>
 
 
          <div class="btn-block">
            <button type="submit" href="/">Add city</button>
          </div>

          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="{{category}}">{{message}}</div>
          {% endfor %}
          {% endif %}
          {% endwith %} 

        </form>
        {% for data in weather %}
        <div class="box">
        
        <img src="http://openweathermap.org/img/w/{{data.icon}}.png" alt="icon">    
        <span class="title">{{data.name}}</span>
    
        <br>
        <span class="subtitle">{{data.temperature}} C</span>
        <br>
        <span class="subtitle">{{data.description}}</span>
        <a href="{{ url_for('delete', city=data.name) }}">
          <button class="btn-delete">Delete</button>
      </a>
      </div>
        {% endfor %}

       
      </div>

</body>
</html>